<div class="job-title">
  <div class="upper-row">
    <h3>{{ value.role }}</h3>
    <div class="time">{{ value.time }}</div>
  </div><!--//upper-row-->

  <div class="upper-row">
    <div class="company">
      {% if value.website %}
      <a href={{ value.website }} target="_blank">{{ value.company }}</a>
      {% else %}
      {{ value.company }}
      {% endif %}
    </div>
    <div class="time">{{ value.where }}</div>
  </div>
</div>

{% if value.details %}
<div class="text-block">
  {{ value.details | markdownify }}
</div><!--//details-->
{% endif %}
