{% assign profile = site.data.profile %}

<div class="profile-container">
  {% if profile.name %}
  <img src="{{ site.baseurl }}/assets/images/{{ profile.avatar }}" alt="profile picture" />
  {% endif %}
  
  {% if profile.name %}
  <h1>{{ profile.name }}</h1>
  {% endif %}
  
  {% if profile.tagline %}
  <h3>{{ profile.tagline }}</h3>
  {% endif %}
</div><!--//profile-container-->


<div class="contacts-block">
  <ul class="list-unstyled contact-list">

    {% for contact in site.data.profile.contacts %}

    <li>
      <i class="{{ contact.icon }}"></i>
      {% if contact.link %}
      <a href="{{ contact.link }}" target="_blank">{{ contact.value }}</a>
      {% else %}
      {{ contact.value }}
      {% endif %}

    </li>
    {% endfor %}

  </ul>
</div>
