@media print {
    @page {
        size: A4;
    }
    body {
        font-size: 10pt;
        padding: 0;
    }

    img {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    a[href]::after {
        content: none;
    }


    .main-wrapper {
        .section {
            h2 {
                font-size: 16px;
            }
        }
    }

    footer {
        display: none;
    }


//     // .main-wrapper {
//     //     padding: 30px
//     // }
    
//    .main-wrapper .time {
//        float: right;
//         color: black !important;
//         -webkit-print-color-adjust: exact; 
//    }

//    // .sidebar-wrapper {
//    //     position: static;
//    //     width: inherit;
//    //     display: flex;
//    // }

//     .contacts-block {
//         padding: 20px;
//         columns: 2;
//     }

//     .remove-container.container-block {
//        display: none;
//     }

//     footer {
//        display: none;
//     }

//     .skillset .level-bar-inner {
//        background-color: black !important;
//        -webkit-print-color-adjust: exact; 
//     }
// }

}
