/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    body{
        padding: 0;
    }

    .sidebar-wrapper {
        position: static;
        width: inherit;
    }

    .main-wrapper {
        padding: 30px;
    }

    .contacts-block {
        columns: 2;
    }

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    body{
        padding: 0;
    }

    .sidebar-wrapper {
        position: static;
        width: inherit;
        display: flex;
    }

    .contacts-block {
        padding: 60px;
        columns: 2;
    }

    .main-wrapper {
        padding: 30px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .skillset .level-title {
        display: inline-block;
        float: left;
        width: 30%;
        margin-bottom: 0;
    }

    .skillset .level-bar {
        display: inline-block;
        width: 70%;
        float: left;
        position: relative;
        top: 1px;
    }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}
