// Use https://goodpalette.io
/* Primary: Moonstone */
$primary-100: #f2faff;
$primary-200: #cbecfe;
$primary-300: #9fddf7;
$primary-400: #70c8e4;
$primary-500: #41a8bf;
$primary-600: #228a99;
$primary-700: #136c73;
$primary-800: #0b4c4d;
$primary-900: #052625;

/* Accent: Lime Fizz */
$accent-100: #fafff2;
$accent-200: #eaffc4;
$accent-300: #ddfc95;
$accent-400: #d2f565;
$accent-500: #c7e835;
$accent-600: #a3b815;
$accent-700: #7f8707;
$accent-800: #565703;
$accent-900: #262401;

/* Neutral */
$neutral-100: #fafbfc;
$neutral-200: #e5e8ea;
$neutral-300: #d1d5d7;
$neutral-400: #bdc3c5;
$neutral-500: #aab1b3;
$neutral-600: #868e8f;
$neutral-700: #646c6c;
$neutral-800: #434949;
$neutral-900: #222626;

:root {
  $spacing-step: 8px;
  @for $i from 1 through 8 {
    --spacing-#{$i}: #{$spacing-step * $i};
  }

  --color-link: #{$primary-700};
  --color-link-hover: #{$primary-900};
  --color-link-light: #{$primary-100};

  --color-title: #{$neutral-900};
  --color-subtitle: #{$neutral-700};
  --color-main-text: #{$neutral-800};

  --color-light-background: #{$neutral-200};
  --color-white-background: #{$neutral-100};
  --color-too-dark-background: #{$primary-500};
  --color-dark-background: #{$primary-600};
}
